@import "_variables.css"; /* CSS VARIABLES - COLOURS etc. */
@import "_animations.css"; /* CSS ANIMATION KEYFRAMES */
@import "normalize.css"; /* NORMALISE CSS */
@import "skeleton.css"; /* CUSTOMISED SKELETON CSS FRAMEWORK */
@import "base.css"; /*BASE ELEMENTS FOR THE LOOK AND FEEL*/
@import "timeline.css";
/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700'); */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* COLOUR STYLES FOR BTUTONS */

.green {
  background: var(--dark-green) !important;
  border: var(--dark-green) !important;
}

.green:hover {
  background: var(--dark-green-highlight) !important;
  border: var(--dark-green) !important;
}

.red {
  background: var(--dark-red) !important;
  border: var(--dark-red-highlight) !important;
}

.red:hover {
  background: var(--dark-red-highlight) !important;
}

.lge {
  padding: 20px 30px;
  font-size: 1.1em;
}

.sml {
  padding: 10px 10px;
  font-size: 0.7em;
}
