@import "_variables.css";
@import "_animations.css";
@import "normalize.css";
@import "skeleton.css";
@import "base.css";
@import "timeline.css";
/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700'); */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* COLOUR STYLES FOR BTUTONS */

.green {
  background: var(--dark-green) !important;
  border: var(--dark-green) !important;
}

.green:hover {
  background: var(--dark-green-highlight) !important;
  border: var(--dark-green) !important;
}

.red {
  background: var(--dark-red) !important;
  border: var(--dark-red-highlight) !important;
}

.red:hover {
  background: var(--dark-red-highlight) !important;
}

.lge {
  padding: 20px 30px;
  font-size: 1.1em;
}

.sml {
  padding: 10px 10px;
  font-size: 0.7em;
}



@media(max-width:600px) {

/* MOBILE MENU CODE */

.navbar ul {
  display:none;
}
  .navbar ul.open {
    display:block;
    float:left;
    position:absolute;
    height:100vh;
    width:100%;
    background:var(--dark-gray-transparent);
    left:0px;
    top:60px;
  }
  .navbar ul li {
    float:none;
  }
  .navbar ul li a {
    display:block;
  }
  .navbar .navbar__hamburger {
    display:block;
  }
  .navbar a.nav__logo {
    /* background: url('/img/coruson-icon-large.svg') no-repeat center center; */
    /* margin:0;padding:0; */
    background-size:100px;
    background-position: left center;
    /* padding:5px 0 0 0; */
    /* width:50px; */
  }

}
