/* TIMELINE CSS */

/* TIMELINE CONTAINER */

.timeline, .linked {
  position: relative;
  width: 100%;
  margin: 50px auto 50px auto;
}

/* TIMELINE ACTUAL LINE */

.timeline::before {
  content: ' ';
  position: absolute;
  width: 20px;
  background: var(--light-blue);
  top: 0;
  bottom: 0;
  left: 50%;
  z-index:0.5;
  border-radius: 20px;
  margin-left: -10px;
}
.event + .linked::after {
  content: ' ';
  position:absolute;
  /* background:url('/img/linkage.svg') no-repeat center center; */
  border-right:20px solid var(--light-red);
  border-top:20px solid var(--light-red);
  /* border:1px solid #F00; */
  top:-180px;
  left:calc(50% - 60px);
  border-radius:0 20px 0 0;
  width:50px;
  height:178px;
  z-index:-0.5;
  /* overflow: initial !important; */
  /* background:#F00; */
}
.linked .linked::after {
  content: ' ';
  position:absolute;
  /* background:url('/img/linkage.svg') no-repeat center center; */
  border-right:20px solid darkred;
  border-top:20px solid darkred;
  /* border:1px solid #F00; */
  top:-30px;
  left:calc(50% - 20px);
  border-radius:0 20px 0 0;
  width:10px;
  height:20px;
  z-index:-0.5;
  /* overflow: initial !important; */
  /* background:#F00; */
}

/* LINKED EVENTS */

.linked {
  display:none;
  left: 30px;
}

.linked::before {
  content: ' ';
  position: absolute;
  width: 20px;
  background: var(--light-red);
  top: 0;
  bottom: 0;
  left: 50%;
  border-radius: 0 0 10px 10px;
  margin-left: -10px;
}

.linked .event {
  width: calc(50% - 30px);
}
/* NESTED LINK */
.linked .linked::before {
  background: darkred;
}
.linked .linked .event {
  width: calc(50% - 60px);
}
.linked .event .details {
  /* background:var(--light-red); */
  border:3px dashed var(--light-red);
  /* position:relative;
  z-index: 1; */
}
.linked .linked .event .details {
  /* background:darkred; */
  border:3px dashed darkred;
  /* color:#FFF; */
}
.linked .event:nth-child(odd) .details {
  margin: 0px 0 20px 30px;
}

.linked .event:nth-child(even) .details {
  margin: 0px 0 20px 30px;
}

/* EVENT CONTAINER */

.event {
  position: relative;
  width: 50%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}

/* EVENT CIRCLES */

.event::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: #FFF;
  right: -10px;
  top: 20px;
  border-radius: 50%;
  border: 3px solid var(--navy-blue);
}

/* ADDING LINK ICONS TO LINKED EVENTS*/

.linked .event::after {
  color: var(--dark-red);
  font-weight: 900;
  font-family: "Font Awesome\ 5 Free";
  content: "\f0c1";
  font-size: 0.6em;
  text-align: center;
  line-height: 14px;
  animation: spin 4s linear infinite;
  border-color: var(--dark-red);
}

/* POSITION LEFT AND RIGHT OF LINE */

.event .left {
  left: 0;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  right: 20px;
  border: medium solid var(--event-bg);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--event-bg);
  transition: var(--transition-speed);
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  left: 20px;
  border: medium solid var(--event-bg);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--event-bg) transparent transparent;
}

/* TRIANGLE HOVER STATES */

.left:hover::before {
  border-color: transparent transparent transparent var(--highlight-yellow);
}

.right:hover::before {
  border-color: transparent var(--highlight-yellow) transparent transparent;
}

.event.right {
  left: 50%;
}

.event.right::after {
  left: -10px;
}

.event .details h2 {
  font-weight: 700;
}

.event .details {
  padding: 20px 30px;
  background-color: var(--event-bg);
  position: relative;
  border-radius: 6px;
  transition: var(--transition-speed);
}

.event.left .details {
  margin: 20px 30px 20px 0px;
}

.event.right .details {
  margin: 20px 0px 20px 30px;
}

.event .details:hover {
  background: var(--highlight-yellow);
}

.details .info i {
  color: var(--navy-blue);
}
.details .linked-events strong {
  background:#FFF;
  color:var(--dark-red);
  padding:5px 5px;
  text-align:center;
  border-radius:10px;
}
.button-row .button {
  padding:0 10px;
}

@media(max-width:1080px) {
  /* BLOCK BUTTONS WHEN THEY START TO FOLD */
  .details .button {
    display: block;
  }
}

@media(max-width:900px) {
  /* MOVE THE LINE TO THE LEFT */
  .timeline::before, .linked::before {
    left: 0px;
  }
  .event {
    width: 100%;
  }
  .event:not(:first-child) {
    top: inherit;
  }
  .event.left, .event.right {
    left: 0;
  }
  .event.left::after {
    left: -10px;
  }
  .event.left .details, .event.right .details {
    margin: 20px 0px 20px 30px;
  }
  .linked {
    left: 30px;
  }
  .linked .event {
    width: calc(100% - 30px);
  }
  /* NESTED EVENT */

  .linked .linked .event {
    width: calc(100% - 60px);
    margin:0;
    padding:0;
  }
  /* FLIP THE ARROW TO THE LEFT */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 20px;
    border: medium solid var(--event-bg);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--event-bg) transparent transparent;
  }

/* THE BRANCHING BOXES */
.event + .linked::after {
width:10px;
height:30px;
left:-20px;
top:-30px;
}
.linked .linked::after {
}

}
