// COLOURS

$navy-blue: #0684C2;
$navy-blue-highlight: #4FA8D4;
$navy-blue-darken: #004567;
$navy-blue-transparent: rgba(6, 132, 194, 0.8);
$light-blue: #E2EEF4;
$light-blue-highlight: #50A8D4;
$dark-green: #10AB96;
$dark-green-highlight: #57C4B5;
$dark-gray: #3A4850;
$dark-gray-highlight: #747E84;
$dark-gray-transparent: rgba(58, 72, 80, 0.95);
$dark-red: #AB1010;
$dark-red-highlight: #C45757;
$light-red: #CB9195;
$highlight-yellow: #FDFFD5;
$event-bg: #eee;


// FONTS
$font-family: 'Lato', sans-serif;

// UTILITY
$grid-width: 1280px;
$transition-speed: 0.25s;

:root {
  /* COLOUR VARIABLES */
  --navy-blue: #0684C2;
  --navy-blue-highlight: #4FA8D4;
  --navy-blue-darken: #004567;
  --navy-blue-transparent: rgba(6, 132, 194, 0.8);
  --light-blue: #E2EEF4;
  --light-blue-highlight: #50A8D4;
  --dark-green: #10AB96;
  --dark-green-highlight: #57C4B5;
  --dark-gray: #3A4850;
  --dark-gray-highlight: #747E84;
  --dark-gray-transparent: rgba(58, 72, 80, 0.95);
  --dark-red: #AB1010;
  --dark-red-highlight: #C45757;
  --light-red: #CB9195;
  --highlight-yellow: #FDFFD5;
  --event-bg: #eee;
  --transition-speed: 0.25s;
  --font-family: 'Lato', sans-serif;
  --grid-width: 1280px;
}
